// Place all the styles related to the History controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.history {
  background-color: rgb(54, 180, 255);;
  .menu {
    // background-color: #ffffff;
    .text-muted {
      //color: #2b3e50;
    }
  }

  .back {
    // background-color: #ffffff;
    .text-muted {
      // color: #2b3e50;
    }
  }

  .header {
    // background-color: #4e5d6c;
    // border-bottom: 1px solid #FF6803;
    border-bottom: 1px dashed #000;

    .title {
      border-left:2px solid #000;
      margin: 0px;
      padding: 20px 0 20px 20px;
      text-align: left;
      font-size: 2em;
    }
  }

  .content {
    border-bottom: 1px dashed #000;
  }
}
